.image-grid {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
}
  
.grid-item {
    text-align: center;
}
  
.grid-item p {
    margin-top: 8px;
    font-weight: bold;
}

.menu_image {
    height: auto;
    border-radius: 8px;
    width: 200px;
    height: 300px;
}